table{
    border-collapse: collapse;
}

td,th {
    border: 3px solid black;
}

.heading_title {
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}

.heading_length, .heading_channel{
    padding: 0 8px;
}

.content_name, .content_description, .content_pic{
    padding: 5px 15px;
}
.content_time, .content_channel {
    text-align: center;    
}

.content_description {
    width: 350px;
}

span {
    color: red;
}

img{
    width: 125px;
    height: 125px;
}

.embed {
    padding-top: 60px;
}

iframe {
    border: none;
}